body{
	font-family: "Courier New";
	background-color: black;
	margin: 20px;
	line-height: 26px;
}
#top_header{
	color: rgb(132, 198, 85);
	padding: 15px;

}
.wrapper{
	position: relative;
	overflow: auto;
}
#top_header h1{
	/*line-height: 0px;*/
	margin: 0px;
}
#top_header p{
	/*line-height: 9px;*/
	/*padding: 15px;*/
	margin: 0px;
}
#menu_list{
	color: rgb(132, 198, 85);
	margin-bottom: 47px;
}

#menu_list a{
	text-decoration: none;
	color: rgb(132, 198, 85);
}
#menu_list a:hover{
	color : white;
}
.menu_item_current {
	color: white;
	font-weight: bold;
}
#content_area1_title{
	color : rgb(132, 198, 85);
	margin-top: 42px;
	margin-bottom: 16px;
}
#content_area1 {
	color : rgb(132, 198, 85);
	margin: 10px;
}
#content_area1_content {
	margin-top: 22px;
	line-height: 26px;
}
#content_area1_content a{
	color: white;
}
#content_area1_content a:hover{
	color : rgb(132, 198, 85);
}
.footer {
	border: white solid 1px;
	margin-top: 26px;
	border-radius: 4px;
}
#footer_content{
	color: white;

	font-size: 11.2px;
	text-align: center;
	line-height: 14px;
}
#side_bar {
	border: white solid 1px;
	width: 320px;
	top: 0;
	right: 0;
	border-radius: 4px;
	color: white;
	position: absolute;
	font-size: 80%;
	line-height: 20px;
	padding: 10px;
}
#side_bar_title h3 {
	font-weight: bold;
}

@media (max-width: 600px) {
	#side_bar{
		width: auto;
		margin-bottom: 10px;
		position: relative;
	}
}