body{
    font-family: "Lucida Sans", Verdana;
    margin: 20px;
    line-height: 26px;

}
#top_header {
    color: white;
    background-color: #04AA6D;
    padding: 15px;
    margin: 4px;

    border-radius: 4px;
}
#top_header h1{
    font-weight: 900;
}
#top_header p{
    margin: 0;
    width: 700px;
}
#content_area1_title{
    margin-top: 25px;
    margin-bottom: 16px;
}
#menu_bar{
    float:left;
    width: 200px;
}
.menu_item{
    background-color: #f1f1f1;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    margin: 4px 0px 0px 0px;
    padding: 5px;
    width: 179px;
    font-weight: 500;
    list-style-type: none;

    cursor: pointer;
}
#menu_list a{
    text-decoration: none;
    color: black;
}
.menu_item:hover{
    background-color: white;
}
.menu_item_select{
    background-color: #f1f1f1;
    border: 1px solid #b2b2b2;
    background-color: #04AA6D;
    color: white;
    border-radius: 4px;
    margin: 4px 0px 0px 0px;
    padding: 5px;
    width: 179px;
    font-weight: 500;
    list-style-type: none;
    font-weight: 700;
}
.wrapper{
    position: relative;
    overflow: auto;
    display: flex;
    margin: 5px 0px 0px 15px;
}
#menu_list{
    margin: 0px;
    padding: 0px;
}
#center_content{
    width: 910px;

}
#content_area1{
    margin: 17px;
}
#content_area1 h1{
    font-weight: 900;
}
#content_area1 p{
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 5px;
    
}
#side_bar{
    background-color: rgb(50, 162, 230);
    border-radius: 4px;
    margin: 3px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 180px;
    padding: 10px;
}
#side_bar_title{
    margin: 30px 100px 10px 10px;
    color: white;
    font-size: larger;
    font-weight: 600;
    
}
#side_bar_content{
    width: 180px;
    color: white;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 90px;
    line-height: 26px;
}
#links_content{
    margin: 0px;
}
#content_area1 a{
    color: black;
}
#content_area1 a:hover{
    text-decoration: none;
}
.footer{
    border: #d3d3d3 solid 1px;
    background-color: #f1f1f1;
    border-radius: 3px;
    margin: 17px;
    margin-top: 5px;
}
#footer_content{
    text-align: center;
    font-size: 11.2px;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
}